/Library/
/obj/
/Temp/
/UnityVS.SouffleMatch.CSharp.csproj
/UnityVS.SouffleMatch.CSharp.Editor.csproj
/UnityVS.SouffleMatch.sln
/UnityVS.SouffleMatch.sln.DotSettings
/UnityVS.SouffleMatch.v12.suo
/SouffleMatch.v12.suo
